doctype html
html(lang='en')
head
    title='Team With Me'
    link(href='style.css', rel='stylesheet')
body
    #header
        block header
    #content
        block content
    #footer
        block footer
